header{
  position: relative;
  background: white;
  padding: 0;
  background-color: #333;
}
.logo {
  font-weight: bold;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 60px;
}
a{
  color: white;
  margin: 0 auto;
  margin-left: 43%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
a.logo{
  font-weight: bold;
  padding: 1em;
}
nav ul{
  list-style-type: none;
  margin: 0;
}
nav ul li a{
  padding: 1em;
  display: inline-block;
}
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #444;
}
