<div class="container">
  <h2>Your Shopping Cart</h2>

  <div *ngFor="let item of cartitems" class="cart-item">
    <img [src]="item.itemImage" alt="Food Item Image">
    <div class="cart-item-details">
      <h3>{{ item.itemName }}</h3>
      <span>Price: {{ item.price| currency:'INR' }}</span><br>
      <span>quantity: {{item.quantity}}</span>
      <div class="cart-item-subtotal">
        <span>Subtotal:  {{ (item?.quantity || 0) * (item?.price || 0) | currency:'INR' }}</span>
      </div>
    </div>
    <button (click)="removeFromCart(item.id)">Remove</button>
  </div>

  <div class="cart-totals">
    <div class="cart-totals-details">
      <span>Subtotal: {{ getSubtotal() | currency:'INR' }}</span>
    </div>
  </div>

  <div class="cart-actions">
    <button (click)="confirmOrder()" [disabled]="cartitems.length === 0">Confirm Order</button>
  </div>
<div id="orderList" class="tabcontent">
  <h2>Order List</h2>
  <div *ngIf="orders.length > 0">
    <ul class="orderListUl">
      <li *ngFor="let order of orders; let i = index">
        <p>Order ID: {{ order.orderId }}</p>
        <p [class]="order.orderStatus === 'Confirmed' ? 'confirmed' : 'pending'">Status: {{ order.orderStatus }}</p>
        <ul>
          <li *ngFor="let item of listFood[orders.indexOf(order)];let j=index">
            <div class="order-item">
              <p>Item Name: {{ item.itemName }}</p>
              <p>Price: {{ item.price ?? 'N/A' | currency: 'INR' }}</p>
              <p>Quantity: {{ item.quantity ?? 0 }}</p>
            </div>
          </li>
        </ul>
        <p>Total Price: {{ calculateTotalPrice(listFood[i] || []) |  currency:'INR' }}</p>
        <button *ngIf="order.orderStatus === 'Confirmed'" (click)="payForOrder(order)">Pay</button>
      </li>
    </ul>
  </div>
  <div *ngIf="orders.length === 0">
    <p>No orders available.</p>
  </div>
</div>
</div>
