<div class="tabs">
  <button *ngFor="let category of categories"
          (click)="onTabChange(category)"
          [class.active]="category === selectedCategory">
    {{ category }}
  </button>
</div>

<div *ngIf="foods.length > 0 " class="form-group">
  <ul>
    <li *ngFor="let food of foods">
      <img *ngIf="food.itemImage" [src]="food.itemImage" alt="{{ food.itemName }}" width="100" /><br>
      <p style="color: brown;font-weight: bold;"> {{ food.itemName }}</p>
      <p> {{ food.price |  currency:'INR'}}</p>
      <p> {{ food.description }}</p>
      <p style="color: brown;font-weight: bold;">{{ food.category }}</p>
      <button (click)="addToCart(food.itemId)">Add to Cart</button>

    </li>

  </ul>
</div>
