<div class="main-container">
<div class="registration-container">
  <h2>Register</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">

    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input
        type="text"
        id="fullName"
        formControlName="fullName"
        class="form-control"
      />
      <div *ngIf="registrationForm.get('fullName')?.invalid && (registrationForm.get('fullName')?.dirty || registrationForm.get('fullName')?.touched)" class="text-danger">
        Full Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      />
      <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)" class="text-danger">
        Email is required or invalid email format.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <div *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)" class="text-danger">
        Password is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Register</button>
  </form>
</div>
</div>
